@model IEnumerable<EmployeeArrivalTracker.Client.Models.ViewModels.EmployeeIndexViewModel>

@{
    ViewBag.Title = "Employees";
}

<div id="employees-data-table">
    @Html.Partial("_EmployeesDataTablePartial", Model)
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#employees-table').DataTable({
                stateSave: true
            });

            var refreshTable = function () {
                $.ajax({
                    url: 'http://localhost:65194/Employees/Index',
                    type: 'GET',
                    success: function (data) {
                        $('#employees-data-table').html(data)
                        $('#employees-table').DataTable({
                            stateSave: true
                        });
                    },
                    error: function () {
                        console.log('error');
                    }
                })
            }

            setInterval(refreshTable, 5000);
        });
    </script>
}

